.contact-area {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 1000px;
}

.contact-container-main-page {
    padding-top: 100px;
}

.wrapper {
    position: absolute;
    margin-top: 680px;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 25px;
    border-radius: 5px;
    border: 2px solid #ffffff;
    height: 700px;
}

.wrapper h2 {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
}

.wrapper .input_field {
    margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea {
    width: 100%;
    border: 1px solid #e0e0e0;
    padding: 10px;
}

.wrapper textarea {
    height: 150px;
    resize: none;
}

.wrapper .button input[type="submit"] {
    border: 0;
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: #d89454;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.wrapper #error_message {
    margin-bottom: 20px;
    padding: 10px;
    background: #d89454;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
}

.wrapper h3 {
    margin-top: 30px;
}

div#map {
    margin-top: 30px;
    min-height: 360px;
}