{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container-main-page">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="slider">
        <div class="slides">
            <!--radio buttons start-->
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">
            <input type="radio" name="radio-btn" id="radio4">
            <!--radio buttons end-->

            <!--slide images start-->
            <div class="slide first">
                <img src="1.jpg" alt="">
            </div>
            <div class="slide">
                <img src="2.jpg" alt="">
            </div>
            <div class="slide">
                <img src="3.jpg" alt="">
            </div>
            <div class="slide">
                <img src="4.jpg" alt="">
            </div>
            <!--automatic navigation start-->
            <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
                <div class="auto-btn4"></div>
            </div>
        </div>

      <!--manual navigation start-->
        <div class="navigation-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
            <label for="radio4" class="manual-btn"></label>
        </div>
    </div>

    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto bg-text">
                <h1 class="display-4 logo-font text-white">
                    The new designs is here !
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="buy-now-button btn btn-lg rounded-0 text-uppercase py-3">Buy Now !</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
    <script type="text/javascript">
        var counter = 1;
        setInterval(function(){
            document.getElementById('radio' + counter).checked = true;
            counter++;
            if(counter > 4){
                counter = 1;
            }
        }, 5000);
    </script>
{% endblock %}