<div class="collapse navbar-collapse" id="main-nav">

    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white text-align mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Design
            </a>
            <div class="dropdown-menu border-0 text-align" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=asc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Design</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white text-align mr-5" href="#" id="house-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                House Design
            </a>
            <div class="dropdown-menu border-0 text-align" aria-labelledby="house-link">
                <a href="{% url 'products' %}?category=single_storey" class="dropdown-item">Single storey</a>
                <a href="{% url 'products' %}?category=double_storey" class="dropdown-item">Double storey</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white text-align mr-5" href="#" id="high-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                High Rise Design
            </a>
            <div class="dropdown-menu border-0 text-align" aria-labelledby="high-link">
                <a href="{% url 'products' %}?category=apartment" class="dropdown-item">Apartment</a>
                <a href="{% url 'products' %}?category=hall" class="dropdown-item">Hall</a>
                <a href="{% url 'products' %}?category=complex" class="dropdown-item">Complex</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white text-align mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0 text-align" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_design" class="dropdown-item">New Design</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=all_specials" class="dropdown-item">All Specials</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white text-align" href="#" id="contact-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact Us !
            </a>
            <div class="dropdown-menu border-0 text-align" aria-labelledby="contacts-link">
                <a href="" class="dropdown-item">Inquiries</a>
                <a href="" class="dropdown-item">Join Us !</a>
            </div>
        </li>

    </ul>

</div>