{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container contact-container-main-page">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-12 contact-area" id="contact">
                    
        <div class="wrapper contact">
            <h2>For further inquiries, please feel free to contact us !</h2>
            <div id="error_message"></div>
            
            <form id="myform" onsubmit="return sendMail(event);">
                
                <div class="input_field">
                    <input type="text" placeholder="Name" id="name">
                </div>

                <div class="input_field">
                    <input type="text" placeholder="Subject" id="subject">
                </div>

                <div class="input_field">
                    <input type="text" placeholder="Phone" id="phone">
                </div>

                <div class="input_field">
                    <input type="text" placeholder="Email" id="email">
                </div>

                <div class="input_field">
                    <textarea id="message" placeholder="Message"></textarea>
                </div>

                <div class="button">
                    <input type="submit">
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js">
    </script>
    <script type="text/javascript">
        (function(){
            emailjs.init("user_A7kmOQNL3i0vNxE4CFj3f");
        })();
    </script>

    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/sendEmail.js' %}"></script>
{% endblock %}